{% load static %}
<html>
    <head>
        <title>Kannada Kali</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>
    <body>
        <center>
            <h1>Welcome to Kannada Kali!</h1>
            <h2>(Development)</h2>
            <h2>Read and Speak</h2>
            <img src="{% static 'image/kan_landsc.jpg' %}" width=100 height=100/><br><br>
            {% block content %}
            {% if not status %}
            Read the below word:<br>
                <h2>{{kandb.kannada}}</h2><br>
            
            <br><br>
            
            
            Repeat the above word after pressing the following button: <br>
            
            
            <form action="comp_raudio" method='post'>
                    {% csrf_token %}
                    <input type = "hidden" name = "word" value ='{{kandb.kannada}}' />
                    <!-- <input type="file" accept="audio/*;capture=microphone" name="inp_aud"> -->
                    <br><br>
                    <input type="submit" value="Test">
            </form>
            
            
            {% endif %}
            <h1>{{val}}</h1>
            <h1>{{status}}</h1>
            <h1>{{stat}}</h1>
            {% if status %}
            <form action="home" method='post'>
                {% csrf_token %}
                <input type="submit" value="Next">
            </form>
            
            {% endif %}
            {% endblock %}
            
            </form>
            

    </center>

    </body>
</html>